<!--https://bulma.io/documentation/form/general/-->
<!--https://bulma.io/documentation/layout/container/-->
<!--Form needs: Torrent Name [V], Piece size [auto calculate] [V], Public Key [V], Trackers to Add [V] , Comments [V], Select Files [V], Submit [V], Progress [V]-->
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="field">
            <label class="label" for="torrent_name">Torrent Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Example torrent name" id="torrent_name" name="torrent_name" required>
            </div>
        </div>

        <div class="field">
            <label class="label" for="piece_size">Piece Size</label>
            <div class="control">
                <div class="select">
                    <select id="piece_size" name="piece_size">
                        <option value="16384">16 KiB</option>
                        <option value="32768">32 KiB</option>
                        <option value="65536">64 KiB</option>
                        <option value="131072">128 KiB</option>
                        <option value="262144">256 KiB</option>
                        <option value="524288">512 KiB</option>
                        <option value="1048576">1 MiB</option>
                        <option value="2097152">2 MiB</option>
                        <option value="4194304">4 MiB</option>
                        <option value="8388608">8 MiB</option>
                        <option value="16777216">16 MiB</option>
                        <option value="33554432">32 MiB</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="public_key">Public Key</label>
            <div class="control">
                <input class="input" type="text" placeholder="Enter Public Key string to encrypt torrent files by" id="public_key" name="public_key" required>
            </div>
        </div>

        <div class="field">
            <label class="label" for="trackers">Trackers [Optional]</label>
            <div class="control">
                <textarea class="textarea" placeholder="Separate Trackers by Return" id="trackers" name="trackers"></textarea>
            </div>
        </div>

        <div class="field">
            <label class="label" for="comments">Comments [Optional]</label>
            <div class="control">
                <textarea class="textarea" placeholder="Short description of the torrent" id="comments" name="comments"></textarea>
            </div>
        </div>

        <div class="field">
            <label class="label" for="file_path">File(s) / Folder Path</label>
            <div class="control">
                <input class="input" type="text" placeholder="Enter the path to a file or folder of files" id="file_path" name="file_path" required>
            </div>
        </div>
    <div class="field">
        <div class="control">
            <button class="button is-primary">Submit</button>
        </div>
    </div>

    </form>
</div>