<!--https://bulma.io/documentation/components/panel/-->
<article class="panel is-primary">
    <p class="panel-heading">
      Current Torrent Files
    </p>

    <!--https://bulma.io/documentation/components/tabs/-->
    <div class="tabs">
        <ul>
            <li class="is-active"><a>All</a></li>
            <li><a>.torrent Files</a></li>
            <li><a>.torrentx Files</a></li>
        </ul>
    </div>

    <div class="panel-block">
        <button class="button">Stop Selected</button>
        <button class="button">Resume Selected</button>
        <button class="button">Stop All</button>
        <button class="button">Resume All</button>
        <button class="button">Select \ Deselect All</button>

        <p class="control">
            <input class="input" type="text" placeholder="Search">
          </p>
    </div>

    <div class="panel-block">
        {% include 'main-torrent-table.html' %}
    </div>

    <div class="panel-block">
        <!-- https://bulma.io/documentation/elements/button/ -->
        <button class="button is-fullwidth is-light">Previous Page</button>
        <button class="button is-fullwidth is-primary is-light">Next Page</button>
        <button class="button is-fullwidth is-primary is-danger" onclick="rebuild_table()">Reload Table Manually</button>
    </div>
</nav>