<!--https://bulma.io/documentation/components/navbar/-->
<script>
    {% include 'modal.js' %}
</script>
<nav class="navbar is-dark" role="navigation" aria-label="main navbar">
    <div id="main-nav-items" class="navbar-menu">
        <div class="navbar-brand">
            <a class="navbar-item" href={{url_for('homepage')}}>
                <img src="https://img.icons8.com/ios/512/torrential-rain.png"/>
            </a>
        </div>
        <!-- aligned to left-->
        <div class="navbar-start">
            <a class="navbar-item" href={{url_for('add_torrent')}}><strong>Add torrents</strong></a>
            <a class="navbar-item" href ={{url_for('create_torrentx')}}>Create .torrentx file</a>
        </div>

        <!-- aligned to right-->
        <div class="navbar-end">
            <a class="navbar-item js-modal-trigger" data-target="modal-js-example" >Settings</a>
        </div>
    </div>
</nav>