<!--https://bulma.io/documentation/elements/table/-->
<table class="table is-fullwidth is-hoverable" id="torrentlist">

    <!-- row -->
    <tr>
        <th></th> <!-- empty cell to select in checkbox -->
        <th>Index</th>
        <th>Name</th>
        <th>State</th>
        <th>Type</th>
        <th>Protocol</th>
        <th>Size</th>
        <th>Progress</th>
        <th>Download Speed</th>
        <th>Downloaded</th>
        <th>Upload Speed</th>
        <th>Uploaded</th>
        <th>Seeders</th>
        <th>Leechers</th>
        <th></th>
    </tr>

    <script>
    {% include 'fetch-torrent.js' %}
    </script>
</table>
