<div id="modal-js-example" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Client Settings</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="container">

        <form>
          <div class="field">
            <label class="label">Select Byte Type</label>
            <div class="select">
              <select id="byteType" onchange="update_type()">
                <option>SI</option>
                <option>IEC</option>
                </select>
                </div>

              <span class="tag">SI = 1000 Bytes in a Kilobyte, IEC = 1024 Bytes in a Kilobyte</span>
          </div>
          <div class="field">
            <label class="label">Download Path</label>
            <div class="control">
              <input class="input" id = "defaultdownloadPath" type="text" placeholder="Enter Default Download Path" required>
            </div>

          </div>
          <div class="field">
            <label class="label">Torrent Files Archive Folder</label>
            <div class="control">
              <input class="input" id = "defaultArchivePath" type="text" placeholder="Enter Default Torrent Archive Path" required>
            </div>
          </div>

          <div class="field">
            <label class="label">Torrentx File Size</label>
            <input class="input" id = "TorrentxSize" type="text" placeholder="Enter Default Torrentx Size" required oninput="update_size()">
            <select class="select" id="fileSizeByteType">
              <option>KiB</option>
              <option>MiB</option>
            </select>
            <span class="tag is-white">More pieces = bigger torrent file, less pieces = may be more difficult to download</span>
          </div>
          
          <div class="field">
            <label class="label">Select Port</label>
            <div class="control">
              <input class="input" id ="port" type="text" placeholder="Enter Default Port" required>
            </div>
          </div>


          <div class="field">
            <label class="label">Client Spoofing Version</label>
            <div class="control">
              <div class="select">
                <select id="spoofingVersion">
                  
                </select>
              </div>
              <button class="button is-link" type="button" onclick="fetchOptions()">Fetch List for Me</button>
            </div>
          </div>

          
        </form>


        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" onclick="update_settings()">Save</button>
        <button class="button">Cancel</button>
      </footer>
    </div>
  </div>